
body{
    margin: 0;
    padding: 0;
}




header{
    padding: 1%;
    background-color: #383E4C;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    
}

nav a{
    text-decoration: none;
    color: rgb(249, 249, 249);
    border: 1px solid #626B7A;
    padding: 10px 15px;
    font-size: 20px;
}

nav a:hover{
    background-color: #49505F;
}


#hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    background-image: url(layout-01-assets/img11.jpg);
    background-repeat: none;
    background-size:cover;
    background-position: center;
}

#hero h1{
    font-size:75px;
    margin:0;
    padding:0;
}

#hero p{
    font-size: 25px;
    margin:0;
    padding:0;
}

#container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}


#headline{
    flex: 1;
    padding: 0;
    margin: 0;
    background-color: #d8d8d8;
    max-width: 350px;
    height: 400px;
}

#headline img{
    display: flex;
    width: 100%;
}
 
#blue{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: #1686C1;
    max-width: 100px;
    padding: 10px 15px;
    border-radius: 5px;
}

#red{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: #852406;
    max-width: 100px;
    padding: 10px 15px;
    border-radius: 5px;
}

#green{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: #178A27;
    max-width: 100px;
    padding: 10px 15px;
    border-radius: 5px;
}

#two-column-left, 
#two-column-right{
    flex:1;
}

#containter-two{
    display: flex;
}
